{% extends 'layout.html.twig' %}
{% block title %}- Home{% endblock %}
{% block content %}
<div class="container-fluid mt-3">
    <div class="col-lg-10 col-md-12 col-xs-12 m-auto">
        {% include 'Home/carousel.html.twig' %}
    </div>
</div>
{% include 'Home/slider.html.twig' %}
<div class="container-fluid">
    <div class="parallax-home-1">
        <div class="container">
            <div class="row" style="height: 300px">
                <div class="col-lg-8 col-md-8 col-xs-12 bg-black text-white mx-auto my-5 box-shadow">
                    <h2 class="text-xxl big-title text-center pt-4">Adidas <span class="text-red">|</span> Gazelle</h2>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12 bg-black text-white text-center my-5 m-auto box-shadow">
                    <h2 class="text-xxl big-title pt-4">
                        <span class="text-red">C</span>
                        <span class="text-white">o</span>
                        <span class="text-green">l</span>
                        <span class="text-yellow">o</span>
                        <span class="text-blue">r</span>
                        <span class="text-red">f</span>
                        <span class="text-white">u</span>
                        <span class="text-green">l</span>
                        <span class="text-yellow">l</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center bg-black p-3">
            <h3 class="big-title text-xl mt-3 text-white border-text">Brand to Follow </h3>
        </div>
        <div class="row m-auto mb-4 text-center">
            <ul class="list-inline mt-5">
                <li class="list-inline-item mx-3 my-3">
                    <img src="https://www.exagoal.com/wp-content/uploads/2019/02/4d46e3bc4dbe1de5757259aa1ed7fbd3.jpg.png" alt="" class="img-fluid"
                        width="200px">
                </li>
                <li class="list-inline-item mx-3 my-3">
                    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/8/8e/Swoosh.svg/1200px-Swoosh.svg.png"
                        alt="" class="img-fluid" width="200px">
                </li>
                <li class="list-inline-item mx-3 my-3">
                    <img src="https://logodownload.org/wp-content/uploads/2017/06/reebok-logo-5.png" alt=""
                        class="img-fluid" width="200px">
                </li>
                <li class="list-inline-item mx-3 my-3">
                    <img src="https://seeklogo.com/images/F/fila-logo-32C71B5BEF-seeklogo.com.png" alt=""
                        class="img-fluid" width="200px">
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}