{% extends 'layout.html.twig' %}
{% block title %}- Order confirmed{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="jumbotron bg-black text-white">
        <h1 class="display-4 text-center my-5 big-title">Order confirmed</h1>
        <div class="text-center">
            <a href="/" class="btn btn-red btn-sm">Back to shop</a>
        </div>
        <hr class="my-4">
        {% if session.transaction %}
        <div class="text-center">
            <a href="{{session.transaction}}" target="_blank" class="btn btn-green my-5">Transaction details</a>
            <div class="row">
                <img src="https://www.foxnetsoft.com/images/thumbs/0005839_stripe-direct-payment-credit-card.png" alt="" class="img-fluid m-auto" width="30%">
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}