{% extends 'layout.html.twig' %}
{% block title %}- Login
{% endblock %}

{% block content %}
<div class="container mt-5">
	<div class="jumbotron my-5 bg-black text-white box-shadow">
		{% if session.flash_message is not empty %}
		{% for message in session.flash_message %}
		<div class="col-12">
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>{{message}}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" id="clear_flash">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		{% endfor %}
		{% endif %}
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 m-auto">
				<form method="POST">
					<div class="form-group">
						<label for="email" class="d-none">Email</label>
						<div class="row">
							<div class="col-lg-1 col-xs-12 text-center">
								<i class="fas fa-user input-prefix"></i>
							</div>
							<div class="col-lg-11 col-xs-12">
								<input type="email" class="form-control" id="email" name="email"
									value="plop@plop.com">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="d-none">Password</label>
						<div class="row">
							<div class="col-lg-1 col-xs-12 text-center">
								<i class="fas fa-lock prefix"></i>
							</div>
							<div class="col-lg-11 col-xs-12">
								<input type="password" class="form-control validate" id="password" name="password"
									value="plop">
							</div>
						</div>
					</div>
					<div class="text-center mt-4">
						<button type="submit" class="btn btn-yellow text-xl big-title">Login</button>
					</div>
					<div class="text-center mt-4">
						<a href="/security/register" class="text-red">Don't have an account yet ?</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}