{% extends 'layout.html.twig' %}
{% block title %}Admin - Login
{% endblock %}

{% block content %}
<div class="container mt-5">
	<div class="jumbotron my-5 bg-black text-white">
		{% if session.flash_message is not empty %}
		{% for message in session.flash_message %}
		<div class="col-12">
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>{{message}}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" id="clear_flash">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		{% endfor %}
		{% endif %}
		<form method="POST">
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" name="email">
			</div>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password">
			</div>
			<div class="form-group">
				<label for="password2">Check Password</label>
				<input type="password" class="form-control" id="password2" name="password2">
			</div>
			<div class="text-center mt-4">
					<button type="submit" class="btn btn-yellow text-xl big-title">Register</button>
				</div>
				<div class="text-center mt-4">
					<a href="/security/login" class="text-red">Already have an account ?</a>
				</div>
		</form>
	</div>
</div>
{% endblock %}